@charset "utf-8";

@import url("./tw.css");

@import url("./fontface.css");
@import url("./vars.css");

@import url("./modal.css");

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  background-color: #ddf4ff;
  color: #101316;
  font-family: var(--font-body);
}

/*
h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
  font-weight: normal;
}
*/
